@model IEnumerable<BikeRental.Models.Vehicle>

@{
    ViewData["Title"] = "ShowAllVehicles";
}

<h1>Nasze rowery</h1>

@*<div class="container-fluid text-center">
  <div class="row">
    <div class="col">
      Column
    </div>
    <div class="col">
      Column
    </div>
    <div class="col">
      Column
    </div>
  </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isElectric)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rentCost)
            </th>
            <th></th>
        </tr>
    </thead>*@
    
<div class="container-fluid text-center">
<div class="row">
@foreach (var item in Model) {
    <div class="col">
      <img class="img-fluid" src=@item.image alt="bikePhoto" />
                <p class="text-center">Cena za 1 dzień: <b>@item.rentCost zł </b></p>
      <a class="btn btn-outline-info" asp-controller="Vehicle" asp-action="VehicleDetails" asp-route-id="@item.Id">Zobacz szczegóły</a>  
    </div>
}
</div>
</div>
  
