@model IEnumerable<BikeRental.Models.Vehicle>

@{
    ViewData["Title"] = "ShowAllVehicles";
}

<h1>Nasze rowery</h1>

<div class="container-fluid text-center">
<div class="row">
        @foreach (var item in Model)
        {
        <div class="col">
          <img class="img-fluid" src=@item.Image alt="bikePhoto" />
          <p class="text-center">Cena za 1 dzień: <b>@item.RentCost zł </b></p>
          <a class="btn btn-outline-info" asp-controller="Vehicle" asp-action="VehicleDetails" asp-route-id="@item.Id">Zobacz szczegóły</a>  
        </div>
        }
</div>
    <a class="btn btn-primary" asp-controller="Vehicle" asp-action="AddVehicle">Dodaj nowy rower</a>
</div>


@*<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isElectric)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isElectric)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@