@model IEnumerable<BikeRental.ViewModels.ReservationViewModel>

@{
    ViewData["Title"] = "AllReservations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Moje rezerwacje</h1>

<p>
    <a asp-action="Create">Nowa rezerwacja</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Id")
            </th>
            <th>
                @Html.DisplayName("Data rozpoczęcia")
            </th>
            <th>
                @Html.DisplayName("Data zakończenia")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationEnd)
                </td>
 
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
